<!DOCTYPE html>
<html>
<head>
  <title>DynMachine</title>
  <%= stylesheet_link_tag    "dyn_machine/application", media: "all" %>
  <%= javascript_include_tag "dyn_machine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
