<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Blueprint: On Scroll Effect Layout</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="shortcut icon" href="../favicon.ico">
    <script src="js/modernizr.custom.js"></script> -->


  <%= stylesheet_link_tag "dyn_machine/test_component", "dyn_machine/test_demo", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>